
<nav class="navbar">
    <!-- LEFT (Logo) -->
   <div class="logo">
    <div class="logo-icon">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <h1>CineX</h1>
</div>

    <!-- CENTER (Links) -->
    <ul class="nav-links" id="navLinks">

        <li><a href="/cinemaM">HOME</a></li>

        <li class="dropdown">
            <a href="#">MOVIES <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="/cinemaM">Now Showing</a></li>
        
            </ul>
        </li>

        <li class="dropdown">
            <a href="#">EXPERIENCES <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="/premier">premiere</a></li>
                <li><a href="/stanard">standard/deluxe</a></li>
            </ul>
        </li>

        <li><a href="/food">FOOD & DRINKS</a></li>

        <li class="dropdown">
            <a href="#">LOCATIONS <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="#">Cairo</a></li>

            </ul>
        </li>

    </ul>

    <!-- RIGHT -->
    <div class="right-section">

        <div class="location">
            <i class="fa fa-location-dot"></i>
            Cairo Festival City
            <i class="fa fa-caret-down"></i>
        </div>

        <i class="fa fa-user user-icon" onclick="openLogin()"></i>

        <!-- Mobile menu -->
     <div class="menu-icon" onclick="toggleMenu()">
            <i class="fa fa-bars"></i>
        </div> 

    </div>

</nav>
<div class="login-modal" id="loginModal">
    <%- include('login') %>
</div>

<div class="signup-modal" id="signupModal">
    <%- include('sign up page') %>
</div>

<div class="forgot-modal" id="forgotModal">
    <%- include('forget') %>
</div>

<div id="customAlert" class="custom-modal">
    <div class="modal-content black-theme">
        <h3 id="alertTitle">CineX says</h3>
        <p id="alertMessage"></p>
        <button onclick="closeAlert()">OK</button>
    </div>
</div>