<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap" rel="stylesheet">
<nav class="navbar">
  
    <div class="logo">
        <div class="logo-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <h1>CineX</h1>
    </div>

    <!-- CENTER (Links) -->
    <ul class="nav-links" id="navLinks">
        <li><a href="/cinemaM" data-i18n="home">HOME</a></li>

        <li class="dropdown">
            <a href="#" data-i18n="movies">MOVIES <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="/cinemaM" data-i18n="nowShowing">Now Showing</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" data-i18n="experiences">EXPERIENCES <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="/premier" data-i18n="premiere">Premiere</a></li>
                <li><a href="/stanard" data-i18n="standard">Standard/Deluxe</a></li>
            </ul>
        </li>

        <li><a href="/food" data-i18n="food">FOOD & DRINKS</a></li>

        <li class="dropdown">
            <a href="#" data-i18n="locations">LOCATIONS <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="#" data-i18n="cairo">Cairo</a></li>
            </ul>
        </li>
    </ul>

    
    <div class="right-section">

        <div class="location">
            <i class="fa fa-location-dot"></i>
            <span data-i18n="locationName">Cairo Festival City</span>
            <i class="fa fa-caret-down"></i>
        </div>
        <% if (typeof user !== 'undefined' && user) { %>
            <a href="/reviews" class="nav-star-link" title="Reviews & Rating">
                <i class="fa-solid fa-star"></i>
            </a>
        <% } else { %>
            <a href="#" onclick="openLogin(); return false;" class="nav-star-link" title="Login to see reviews">
                <i class="fa-regular fa-star"></i>
            </a>
        <% } %>

     <% if (typeof user !== 'undefined' && user) { %>
    <div class="profile-dropdown">
        <i class="fa fa-user user-icon" onclick="toggleProfile()"></i>
        <ul class="profile-menu" id="profileMenu">
    <% if (typeof currentPage === 'undefined' || currentPage !== 'profile') { %>
    <li><a href="/profile"><i class="fa fa-user"></i> My Profile</a></li>
    <% } %>
    <li><a href="/logout"><i class="fa fa-right-from-bracket"></i> Logout</a></li>
</ul>
    </div>
<% } else { %>
    <i class="fa fa-user user-icon" onclick="openLogin()"></i>
<% } %>

        <button id="theme-toggle" aria-label="Toggle dark mode">
            <span id="icon-moon">🌙</span>
            <span id="icon-sun" style="display:none">☀️</span>
        </button>
        <div class="lang-switcher">
            <button class="lang-btn active" id="langEN" onclick="setLang('en')">EN</button>
            <button class="lang-btn"        id="langAR" onclick="setLang('ar')">ع</button>
        </div>

        <div class="menu-icon" onclick="toggleMenu()">
            <i class="fa fa-bars"></i>
        </div>

    </div>
</nav>

<div class="login-modal" id="loginModal">
    <%- include('login') %>
</div>

<div class="signup-modal" id="signupModal">
    <%- include('sign up page') %>
</div>

<div class="forgot-modal" id="forgotModal">
    <%- include('forget') %>
</div>

<script src="https://unpkg.com/i18next@23.7.6/i18next.min.js"></script>
<script src="/js/i18n.js"></script>
