*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#111;
color:white;
}

/* NAVBAR */



/* HERO SLIDER */

.hero {
    position: relative;
    height: 70vh;        /* bigger */
    max-height: 600px;
    width: 90%;
    margin: 40px auto;
    border-radius: 20px;
    overflow: hidden;
    z-index: 2;
}
.slider{
width:100%;
height:100%;
position:relative;
}

.slide{
position:absolute;
width:100%;
height:100%;
opacity:0;
transition:1s;

    background-position: center;}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;   /* KEY FIX */
    object-position: center;
     image-rendering: auto;
    
    background-position: center;
    background-position: top;
}

.slide.active{
opacity:1;
}

.caption{
position:absolute;
bottom:80px;
left:60px;
background:rgba(0,0,0,0.7);
padding:25px;
border-radius:10px;
}

.caption h2{
font-size:40px;
margin-bottom:10px;
}

.caption p{
font-size:18px;
}

/* MOVIES SECTION */

.movies{
padding:50px;
text-align:center;
}

.movies h2{
margin-bottom:30px;
font-size:28px;
}


/* MOVIE GRID */
.movie-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 40px;
}

/* CARD */
.movie-card {
    width: 180px;
    text-align: center;
    transition: 0.4s;
    text-decoration: none;
    color: white;
    display: block;
}
.movie-card h3 {
    text-decoration: none;
    color: white;
}

/* POSTER */
.poster {
    position: relative;
}

.poster .age {
    position: absolute;
    top: 8px;
    right: 8px;
    background: rgba(0,0,0,0.85);
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 6px;
    font-weight: bold;
    border: 1px solid #fff;
}

.poster img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    transition: 0.4s;
    
}


.poster::after {
    content: "";
    position: absolute;
    inset: 0;
    transition: 0.4s;
}

/* TITLE */
.movie-card h3 {
    margin-top: 10px;
    font-size: 16px;
    color: #f1f1f1;
    letter-spacing: 1px;
}

/* AGE BADGE (CIRCLE) */
.age {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #111;
    color: white;
    width: 35px;
    height: 35px;
    font-size: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 🔥 HOVER EFFECT (LIKE IMAGE) */
.movie-container:hover .movie-card {
    opacity: 1;
}

.movie-container .movie-card:hover {
    opacity: 1;
    transform: scale(1.1);
}

.movie-container .movie-card:hover .poster::after {
    background: rgba(0,0,0,0.1);
}

.experiences {
    background: black;
    color: white;
    padding: 40px 60px;
}

.experiences h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.experiences p {
    font-size: 14px;
    margin-bottom: 25px;
    color: #ccc;
}

/* Cards container */
.cards {
    display: flex;
    gap: 15px;
}

/* Each card */
.card {
    flex: 1;
    height: 200px;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
     display: block; /* مهم جدا */
    text-decoration: none;
    color: white;
}

/* Dark overlay */
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

/* Text */
.overlay h3 {
    font-size: 26px;
    letter-spacing: 2px;
}

.overlay span {
    font-size: 12px;
    margin-top: 5px;
    color: #ddd;
}

/* Hover effect */
.card:hover .overlay {
    background: rgba(0,0,0,0.3);
}

/* Background images */

.card.premiere {
    background-image: url('image 1.jpeg');
}

.card.deluxe {
    background-image: url('deluxe.jpg');
}

.card.standard {
    background-image: url('standard.jpg');
}



/* FOOTER */

/* FOOTER NEW DESIGN */

.footer {
    background: #000;
    color: #ccc;
    padding: 40px 50px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-section {
    max-width: 250px;
}

.footer-section h3 {
    color: #f1ecec;
    margin-bottom: 15px;
}

.footer-section p {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-section a {
    display: block;
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 8px;
    transition: 0.3s;
}

.footer-section a:hover {
    color: #10d3da;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #222;
    margin-top: 30px;
    padding-top: 15px;
    font-size: 13px;
    color: #777;
}
/* BLUR EFFECT */

.movie-container:hover .movie-card {
    filter: blur(5px);
    opacity: 0.5;
    transition: 0.3s;
}

.movie-container .movie-card:hover {
    filter: blur(0);
    opacity: 1;
    transform: scale(1.1);
    z-index: 2;
}
nav a i {
    font-size: 18px;
    transition: 0.3s;
}

nav a i:hover {
    color: #09b9e5;
    transform: scale(1.2);
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 3;
    transition: 0.3s;
}

.prev {
    left: 15px;
}

.next {
    right: 15px;
}

.prev:hover, .next:hover {
    background: #09c4e5;
    transform: translateY(-50%) scale(1.2);
}
html {
  scroll-behavior: smooth;
}

#now-showing {
    scroll-margin-top: 100px; /* This keeps the title visible below your header */
}