/* ===== BODY ===== */
body {
    margin: 0;
    padding-top: 80px;
   
    font-family: Arial, sans-serif;
}

/* ===== NAVBAR ===== */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 10px;
    color: white;

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}

/* ===== LOGO ===== */

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: bold;
}


.logo-icon {
    display: flex;
    gap: 5px;
}

.logo-icon span {
    width: 8px;
    height: 25px;
    background: white;
    border-radius: 10px;
    transform: skewX(-15deg);
}
/* ===== CENTER LINKS ===== */
.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;

}

/* ===== LINKS ===== */
.nav-links li {
    position: relative;
}

.nav-links li a {
    text-decoration: none;
    color: rgba(255,255,255,0.85);
    font-size: 15px;
    transition: 0.3s;
    font-weight: 600;
    position: relative;
}

/* Hover glow */
.nav-links li a:hover {
    color: #0ee5f5;
    text-shadow: 0 0 8px #0ee5f5;
}


/* ===== DROPDOWN ===== */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    background: rgba(10, 20, 15, 0.95);
    backdrop-filter: blur(10px);
    list-style: none;
    padding: 10px 0;
    min-width: 160px;
    border-radius: 10px;
    opacity: 0;
    transform:translateX(-50%) translateY(10px);
    pointer-events: none;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease;
}

.dropdown-menu li {
    padding: 0;
}

.dropdown-menu li a {
    font-size: 14px;
    padding: 10px 20px;
    display: block;
}

.dropdown-menu li:hover {
    background: rgba(255,255,255,0.08);
}

/* Smooth dropdown show */
.dropdown:hover .dropdown-menu {
    opacity: 1;
    transform:translateX(-50%) translateY(0);
    pointer-events: auto;
}

/* ===== RIGHT SECTION ===== */
.right-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* LOCATION */
.location {
    border: 1px solid rgba(255,255,255,0.2);
    padding: 7px 14px;
    border-radius: 20px;
    font-size: 13px;
    cursor: pointer;
    transition: 0.3s;
    background: rgba(255,255,255,0.05);
}

.location:hover {
    background: rgba(255,255,255,0.15);
}

/* USER ICON */
.user-icon {
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.user-icon:hover {
    transform: scale(1.2);
    color: #00ccff;
}

/* MENU ICON */
.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 22px;
}


