<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema Menu</title>
<link rel="stylesheet" href="/css/sign up page.css">
    <!-- Google Font -->
     <link rel="stylesheet" href="/css/forget.css">
     <link rel="stylesheet" href="/css/login.css">
   <link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/food.css">
</head>

<body>

    <nav class="navbar">
    <!-- LEFT (Logo) -->
   <div class="logo">
    <div class="logo-icon">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <h1>CineX</h1>
</div>

    <!-- CENTER (Links) -->
    <ul class="nav-links" id="navLinks">

        <li><a href="cinemaM.html">HOME</a></li>

        <li class="dropdown">
            <a href="#">MOVIES <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="cinemaM.html">Now Showing</a></li>
        
            </ul>
        </li>

        <li class="dropdown">
            <a href="#">EXPERIENCES <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="premier.html">premiere</a></li>
                <li><a href="stanard.html">standard/deluxe</a></li>
            </ul>
        </li>

        <li><a href="food.html">FOOD & DRINKS</a></li>

        <li class="dropdown">
            <a href="#">LOCATIONS <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="#">Cairo</a></li>

            </ul>
        </li>

    </ul>

    <!-- RIGHT -->
    <div class="right-section">

        <div class="location">
            <i class="fa fa-location-dot"></i>
            Cairo Festival City
            <i class="fa fa-caret-down"></i>
        </div>

       

<i class="fa fa-user user-icon" onclick="openLogin()"></i>
        <!-- Mobile menu -->
     <div class="menu-icon" onclick="toggleMenu()">
            <i class="fa fa-bars"></i>
        </div> 

    </div>

</nav><br><br>
<header>
    <h1>Menu</h1>
</header>

<main class="menu-container">

    <!-- 🍿 POPCORN -->
    <section class="menu-category">
        <div class="category-header">
            <img src="images/popcorn.jpeg" alt="">
            <div>
                <h2>Popcorn</h2>
                <p class="subtitle">(Salt, Caramel, Cheese, Cheetos Original)</p>
            </div>
        </div>

        <div class="menu-grid">
            <div class="item"><span>Small Popcorn</span><span>120 LE</span></div>
            <div class="item"><span>Medium Popcorn</span><span>135 LE</span></div>
            <div class="item"><span>Large Popcorn</span><span>160 LE</span></div>
        </div>
    </section>

    <!-- ☕ HOT DRINKS -->
    <section class="menu-category">
        <div class="category-header">
            <img src="images/hot drink.jpeg" alt="">
            <div>
                <h2>Hot Drinks</h2>
            </div>
        </div>

        <div class="menu-grid">
            <div class="item"><span>Espresso</span><span>65 LE</span></div>
            <div class="item"><span>Double Espresso</span><span>80 LE</span></div>
            <div class="item"><span>Espresso Macchiato</span><span>85 LE</span></div>
            <div class="item"><span>Cappuccino</span><span>120 LE</span></div>
            <div class="item"><span>Latte</span><span>125 LE</span></div>
            <div class="item"><span>Flat White</span><span>90 LE</span></div>
            <div class="item"><span>Hot Chocolate</span><span>110 LE</span></div>
            <div class="item"><span>French Coffee</span><span>70 LE</span></div>
            <div class="item"><span>Turkish Coffee</span><span>50 LE</span></div>
            <div class="item"><span>Double Turkish Coffee</span><span>70 LE</span></div>
            <div class="item"><span>Anise</span><span>30 LE</span></div>
            <div class="item"><span>Tea</span><span>30 LE</span></div>
            <div class="item"><span>Tea with Milk</span><span>60 LE</span></div>
        </div>

        <div class="add-ons">
            <p><strong>Add-ons:</strong> Espresso Shot: 40 LE | Milk: 25 LE | Syrup: 35 LE | Sauce: 40 LE</p>
        </div>
    </section>

    <!-- 🧊 COLD DRINKS -->
    <section class="menu-category">
        <div class="category-header">
             <img src="images/cold.jpeg" alt="">
            <div>
                <h2>Cold Drinks</h2>
            </div>
        </div>

        <div class="menu-grid">
            <div class="item"><span>Mineral Water</span><span>25 LE</span></div>
            <div class="item"><span>Sparkling Water</span><span>50 LE</span></div>
            <div class="item"><span>Soft Drinks</span><span>50 LE</span></div>
            <div class="item"><span>Red Bull</span><span>80 LE</span></div>
            <div class="item"><span>Juice</span><span>25 LE</span></div>
        </div>
    </section>

    <!-- 🧃 SLUSHIES -->
    <section class="menu-category">
        <div class="category-header">
            <img src="images/slushi.jpeg" alt="">
            <div>
                <h2>Slushies</h2>
               
            </div>
        </div>

        <div class="menu-grid">
            <div class="item"><span>Slushie mango</span><span>70 LE</span></div>
             <div class="item"><span>Slushie passion fruit</span><span>70 LE</span></div>
              <div class="item"><span>Slushie redbull</span><span>70 LE</span></div>
               <div class="item"><span>Slushie mix berries</span><span>70 LE</span></div>
            <div class="item"><span>Fresh Juice Slushie</span><span>140 LE</span></div>
        </div>
    </section>

    <!-- 🍬 SNACKS -->
    <section class="menu-category">
        <div class="category-header">
            <img src="images/snacks.jpeg" alt="">
            <div>
                <h2>Snacks & Candy</h2>
            </div>
        </div>

        <div class="menu-grid">
            <div class="item"><span>Pringles Small</span><span>115 LE</span></div>
            <div class="item"><span>Chipsy Jumbo</span><span>35 LE</span></div>
             <div class="item"><span>natshos w cheese</span><span>150 LE</span></div>
            <div class="item"><span>Cheetos</span><span>26 LE</span></div>
            <div class="item"><span>Cotton Candy</span><span>40 LE</span></div>
            <div class="item"><span>Loackers</span><span>75 LE</span></div>
        </div>
    </section>

    <!-- 🍫 CHOCOLATES -->
    <section class="menu-category">
        <div class="category-header">
           <img src="images/chocolate.jpeg" alt=""> 
            <div>
                <h2>Chocolates</h2>
            </div>
        </div>

        <div class="menu-grid">
            <div class="item"><span>Kinder</span><span>90 LE</span></div>
            <div class="item"><span>Kinder Bueno</span><span>90 LE</span></div>
            <div class="item"><span>M&M's Small</span><span>80 LE</span></div>
            <div class="item"><span>Maltesers Small</span><span>80 LE</span></div>
            <div class="item"><span>Galaxy</span><span>65 LE</span></div>
            <div class="item"><span>KitKat</span><span>85 LE</span></div>
            <div class="item"><span>Cadbury</span><span>55 LE</span></div>
            <div class="item"><span>Cadbury Bubbly</span><span>40 LE</span></div>
            <div class="item"><span>Twix</span><span>85 LE</span></div>
            <div class="item"><span>Ferrero Rocher</span><span>130 LE</span></div>
            <div class="item"><span>Snickers</span><span>65 LE</span></div>
            <div class="item"><span>Bounty</span><span>75 LE</span></div>
            <div class="item"><span>Flutes</span><span>40 LE</span></div>
            <div class="item"><span>Moro</span><span>35 LE</span></div>
        </div>
    </section>

</main>


<!-- Login Modal -->
<div class="login-modal" id="loginModal">
  <div class="login-box">
    <button class="modal-close" onclick="closeLogin()">✕</button>
    <h2>Login to your account</h2>
    <form id="loginForm">
      <label>Email</label>
      <input type="email" id="email" placeholder="Enter your email">
      <span id="emailError" class="error"></span>
      <label>Password</label>
      <div class="password-box">
        <input type="password" id="password" placeholder="Enter your password">
        <span onclick="togglePassword()">👁</span>
      </div>
      <span id="passwordError" class="error"></span>
      <p id="error" class="error"></p>
      <div class="options">
       <a href="#" class="forgot-link" onclick="closeLogin(); openForgot(); return false;">Forgot Password?</a>
      </div><br>
      <button type="submit">Login</button>
      <p class="create-account">
        <a href="#" onclick="closeLogin(); openSignup(); return false;">Create a new account</a>
      </p>
    </form>
  </div>
</div>
<div class="forgot-modal" id="forgotModal">
    <div class="forgot-password-card">
        <button class="modal-close" onclick="closeForgot()">✕</button>
        <h2>FORGOT YOUR PASSWORD</h2>
        <form id="forgotForm">
            <label for="forgotEmail">ENTER YOUR EMAIL ADDRESS BELOW:</label>
            <input type="email" id="forgotEmail" name="email" required placeholder="your@email.com">
            <p id="forgotError" class="error"></p>
            <p id="forgotSuccess" class="success"></p>
            <button type="submit" class="reset-btn">RESET PASSWORD</button>
        </form>
        <div class="footer-links">
            <a href="#" class="back-link" onclick="closeForgot(); openLogin(); return false;">← Back to Login</a>
        </div>
    </div>
</div>
<div class="signup-modal" id="signupModal">
    <div class="containerS">
        <button class="modal-close" onclick="closeSignup()">✕</button>
        <h2>Create your account</h2>
        <form id="signupForm">
          <div class="row">
                <div class="input-boxS">
                    <i class="fa fa-user"></i>
                    <input type="text" id="firstName" placeholder="First Name">
                <small class="errorS" id="firstNameError"></small>
                </div>
                <div class="input-boxS">
                    <i class="fa fa-user"></i>
                    <input type="text" id="lastName" placeholder="Last Name">
                <small class="errorS" id="lastNameError"></small>
                </div>
            </div>

            <div class="input-boxS">
                <i class="fa fa-envelope"></i>
                <input type="email" id="signupEmail" placeholder="Enter your email">
            <small class="errorS" id="signupemailError"></small>
               </div>
            <div class="input-boxS password-box">
                <i class="fa fa-lock"></i>
                <input type="password" id="signupPassword" placeholder="Enter your password">
                <i class="fa fa-eye toggle" onclick="togglePasswordS('signupPassword', this)"></i>
            <small class="errorS" id="signuppasswordError"></small>
               </div>
            <div class="input-boxS password-box">
                <input type="password" id="signupconfirmPassword" placeholder="Confirm your password">
                <i class="fa fa-eye toggle" onclick="togglePasswordS('signupconfirmPassword', this)"></i>
            
            <small class="errorS" id="signupconfirmPasswordError"></small>
               </div>
            <div class="genderS">
                <p>Gender:</p>
                <label><input type="radio" name="gender"> Male</label>
                <label><input type="radio" name="gender"> Female</label>
            <small class="errorS" id="genderError"></small>
            </div>
            <div class="input-boxS">
                <i class="fa fa-phone"></i>
                <input type="tel" id="tel" placeholder="Phone Number">
            <small class="errorS" id="phoneError"></small>
             </div>
            <div class="input-boxS">
                <i class="fa fa-calendar"></i>
                <input type="date" id="dob">
            
            <small class="errorS" id="dobError"></small>
            </div>
           <div class="social-icons-wrap">
            <a href="https://accounts.google.com"><i class="fa-brands fa-google"></i></a>
            <a href="https://account.apple.com"><i class="fa-brands fa-apple"></i></a>
           </div>
            <div class="checkboxS">
                <label><input type="checkbox" id="terms"> I accept the terms and conditions</label>
            
            <small class="errorS" id="termsError"></small>
              </div>

            <button class="btn" type="submit">Sign Up</button>
        </form>
        <div class="footerS">
            <p>Already have an account?
                <a href="#" onclick="closeSignup(); openLogin(); return false;">Login</a>
            </p>
        </div>
    </div>
</div>


<!-- Custom Alert -->
<div id="customAlert" class="custom-modal">
    <div class="modal-content black-theme">
        <h3 id="alertTitle">CineX.com says</h3>
        <p id="alertMessage"></p>
        <button onclick="closeAlert()">OK</button>
    </div>
</div>

<script src="/js/sign up page.js"></script>
<script src="/js/forget.js"></script>
<!-- Login Script -->
<script src="/js/login.js"></script>

<script src="/js/nav.js"></script>
</body>
</html>