<!DOCTYPE html>
<html lang="en">
<head>
  <title>Payment Form</title>
  <link rel="stylesheet" href="css/form.css">
  <link rel="stylesheet" href="css/responsive.css">
</head>

<body>

<div class="overlay">
  <div class="payment box">

    <h3>Credit or Debit card</h3>

    <form id="paymentForm">

  <label>Cardholder name (exactly as shown on card) *</label>
  <input type="text" id="cardName">
  <small class="error" id="cardNameError"></small>

  <label>Card number *</label>
  <div class="input-box">
    <input type="text" id="cardNumber">
    <span class="icon">🔒</span>
  </div>
  <small class="error" id="cardNumberError"></small>

  <label>Expiry date *</label>
  <input type="text" id="expiry" placeholder="MM/YY">
  <small class="error" id="expiryError"></small>

  <label>Security code *</label>
  <div class="input-box">
    <input type="text" id="cvv">
    <span class="icon">💳</span>
  </div>
  <small class="error" id="cvvError"></small>

</form>

    <button class="pay-button" id="dynamicPayBtn">
            <span class="lock"></span> </button>

    <button class="close button" id="cancelBtn">CLOSE</button>

  </div>
</div>
<div class="container">
    ...
</div>
<script src="js/form.js"></script>
</body>
</html>