<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Order Summary</title>
<link rel="stylesheet" href="/css/orderSum.css">
<link rel="stylesheet" href="/css/responsive.css">
</head>
<body>

<div class="summary-container">

    <div class="summary-header">
        <span>ORDER SUMMARY</span>
    </div>

    <div class="movie-box">
    <h2></h2> <p></p>  <p></p>  <p>CineX - Cairo Festival City</p>
    <div class="price-box">-- EGP</div>
</div>
    <div class="customer-info">

        <h3>CUSTOMER INFORMATION</h3>

        <div class="input-row">
            <div class="input-group">
                <label>YOUR NAME</label>
                <input type="text" id="custName" required>
                <small class="error" id="custNameError"></small>
            </div>

            <div class="input-group">
                <label>PHONE</label>
                <input type="tel" id="custPhone" required>
                 <small class="error" id="custPhoneError"></small>
            </div>
        </div>

        <div class="input-group full">
            <label>EMAIL</label>
            <input type="email" id="custEmail" required>
              <small class="error" id="custEmailError"></small>
        </div>

        <p class="note">
        - Please note that tickets, once purchased, cannot be refunded or exchanged.
        </p>

        <button class="pay-btn">PAY NOW</button>
        <button class="close-btn">CLOSE</button>

    </div>

</div>
  <!--custom alret-->
<div id="customAlert" class="custom-modal">
        <div class="modal-content black-theme">
            <h3 id="alertTitle">CineX.com says</h3>
            <p id="alertMessage"></p>
            <button onclick="closeAlert()">OK</button>
        </div>
    </div>
<script src="/js/orderSum.js"></script>
</body>
</html>