<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premiere Cinema</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/sign up page.css">
    <link rel="stylesheet" href="/css/forget.css">
   <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/premier.css">
    
    <link rel="stylesheet" href="/css/responsive.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
<%- include('partials/nav') %>
    
<section class="premiere">

    <h1>PREMIERE</h1>

    <!-- Image Gallery -->
    <div class="gallery">
        <img src="/images/image 1.jpeg" alt="Cinema 1">
        <img src="/images/image 2.jpeg" alt="Cinema 2">
        <img src="/images/image 3.jpeg" alt="Cinema 3">
    </div>

    <!-- Description -->
    <p class="description">
        Our Premiere halls are designed to create an unforgettable experience, where every detail is tailored to your comfort and enjoyment.
        Indulge in the ultimate cinematic luxury with our Premiere cinema halls. Our exclusive seating features chaise lounge chairs that recline,
        offering unmatched relaxation and sophistication. Sink into plush cushioning and enjoy the show in a way that elevates traditional movie-watching.
    </p>

    <!-- شروط -->
    <div class="conditions">
        <h2>Conditions of Entry</h2>
        <ul>
            <li>Please note that children under the age of 12 are not permitted to attend Premiere Experience shows.</li>
            <li>Please note that children under 3 years of age are not permitted at any screenings.</li>
            <li>Outside food and beverages are not permitted inside cinema halls.</li>
            <li>Valid ID showing proof of age is required for admission for certain movie classifications.</li>
        </ul>
    </div>

</section>



<script src="/js/nav.js"></script>
<script src="/js/login.js"></script>
<script src="/js/sign up page.js"></script>
<script src="/js/forget.js"></script>

<%- include('partials/footer') %>
</body>
</html>