
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Scene Cinemas - Seating</title>
<link rel="stylesheet" href="/css/standard.css">
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/sign up page.css">
<link rel="stylesheet" href="/css/forget.css">

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/responsive.css">

</head>
<body>
<%- include('partials/nav') %>


<section class="seating">

    <!-- DELUXE FIRST -->
    <div class="section">
        <h2>DELUXE</h2>
        <div class="image-wrapper">
            <img src="/images/deluxe.jpg" alt="Deluxe Seats">
        </div>
        <p>
            Elevate your movie night with our luxurious seating. Premium leather recliners offer unmatched comfort with plush cushions and generous legroom. Enjoy a fully immersive cinematic experience in style.
        </p>
    </div>

    <!-- STANDARD SECOND -->
    <div class="section">
         <h2>STANDARD</h2>
        <div class="image-wrapper">
            <img src="/images/standard.jpg" alt="Standard Seats">
        </div>
       
        <p>
            Comfortable, modern seating designed for an immersive movie experience. Equipped with advanced projection and powerful surround sound for crystal-clear visuals and audio.
        </p>
    </div>

</section>



<script src="/js/nav.js"></script>
<script src="/js/login.js"></script>
<script src="/js/sign up page.js"></script>
<script src="/js/forget.js"></script>
<script src="/js/theme.js"></script>

<%- include('partials/footer') %>
</body>
</html>



