@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;900&family=Raleway:wght@200;300;400;600&display=swap');


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gold:           #c9a84c;
  --gold-light:     #f0d080;
  --gold-dark:      #7a5c1e;
  --cream:          #f5ecd7;

  --std-accent:       #3a8fc9;
  --std-accent-light: #7dc3f0;
  --std-accent-dark:  #1a4a7a;
  --std-seat:         #1a3a5a;


  --dlx-accent:       #8a4ac9;
  --dlx-accent-light: #c09af0;
  --dlx-accent-dark:  #3a1a6a;
  --dlx-seat:         #3a1a5a;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  font-family: 'Raleway', sans-serif;
  color: var(--cream);
  cursor: none;
}