body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--bg-primary);
    color: var(--text-primary);
}

/* Section */
.premiere {
    padding: 40px;
}

/* Title */
.premiere h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    font: 3em arial;
}

/* Image Gallery */
.gallery {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.gallery img {
    width: 33%;
    height: 220px;
    object-fit: cover;
    border-radius: 5px;
}

/* Description */
.description {
    font-size: 16px;
    line-height: 1.6;
    max-width: 1000px;
    margin-bottom: 40px;
    font: arial;
}

/* Conditions */
.conditions h2 {
    font-size: 20px;
    margin-bottom: 15px;
    font: 1.5em arial;
}

.conditions ul {
    padding-left: 20px;
}

.conditions li {
    margin-bottom: 10px;
    font: arial;
}